body {
    margin: 0;
    background-color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;

    color: #26201E;
}

canvas {
    width: 100%;
    height: 95%;
}

.yellow{
    background-color: #F0BC4D;
}
.teal{
    background-color: #A3CFBD;
}
.red{
    background-color: #D15145;
}

.about{

    transform: rotate(-8deg);
    margin-top: 40px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 10px;
    padding-left: 80px;
    padding-bottom: 40px;

    position: relative;
}

.aboutblurb{
    max-width: 400px;
    margin-bottom: 20px;
    margin-right:40px;
}

.nav{
    transform: rotate(-3deg);
    margin-top: -20px;
    margin-left: 40px;
    margin-right: -40px;
    padding: 10px;
    padding-top: 30px;
    line-height: 30px;
    mix-blend-mode: multiply;
    /* max-width: 500px; */
    height: 75vh;
}

.nav a{
    color: #ffffff;
}



.aboutlinks{
    line-height: 30px;
}


.bar{
    transform: rotate(-12deg);
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    line-height: 30px;
    mix-blend-mode: multiply;
}

.footer{
    /* color: #666666; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;

    z-index: 100;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    /* background-color: rgba(255,255,255,0.9); */
    background-color: #ffffff;
    text-align: center;

}

a{
    text-decoration: none;
    color: #D15145;
}
a:hover {
    /* color: #D15145; */
    text-decoration: underline;
}